/*
 * REQUIRED NOTICE: Copyright (c) 2020-2023, Regents of the University of California
 * All rights reserved. https://polyformproject.org/licenses/noncommercial/1.0.0
 * 
 * This software was developed by the Daniel Kim lab at the University of California, Santa Cruz.
 * Authors: Roman E. Reggiardo, Vikas Peddu, Alex D. Hill
 * 
 * The licensor grants you a copyright license for the software to do everything you might do with
 * the software that would otherwise infringe the licensor’s copyright in it for any permitted
 * purpose.
 * 
 * As far as the law allows, the software comes as is, without any warranty or condition, and the
 * licensor will not be liable to you for any damages arising out of these terms or the use or
 * nature of the software, under any kind of legal claim.
 */


process
{
    cache = true
    errorStrategy = 'finish'
    beforeScript = 'chmod 755 .'
}

includeConfig 'profiles/prism.nf'

params.exec = 'local'
if (params.exec=='slurm')
{
    process.executor = 'slurm'
    params.threads = -1
    params.memory = -1
    params.scratch = ''
    if (params.scratch != '') process.scratch = params.scratch
    params.njobs = 15
    executor.queueSize = params.njobs
    params.account = ''
    if (params.account != '') executor.account = params.account
}
else if (params.exec=="local")
{
    params.scratch = false
    params.njobs = -1
    params.account = ''
    params.threads = 0
    if (params.threads>0)
    {
        params {
            njobs = 15
            scratch = false
            account = ''
        }
        process.executor = 'slurm'
        process.scratch = params.scratch
        executor.queueSize = params.njobs
        if (params.account!='') executor.account = params.account
    }
    params.memory = 0
    if (params.memory>0)
    {
        println("--exec: ${params.exec}");
        throw new IllegalArgumentException('Execution mode must be either "local" or "slurm"')
    }
}

params.container = 'docker'
if (params.container=='docker')
{
    docker.enabled = true
    user = "-u \$(id -u):\$(id -G | sed -e's/ / --group-add /g') "
    resources = ""
    if (params.exec=="slurm")
    {
        resources = "--cpus=\${SLURM_CPUS_PER_TASK:=1} --memory=\${SLURM_MEM_PER_NODE:=1024}MB "
    }
    docker.runOptions = user+resources
    process.container = 'alexdhill/create:test'
}
else if (params.container=='conda')
{
    conda.enabled = true
    process.conda = '${projectDir}/bin/conda/environment.yaml'
}
params.clean = false
cleanup = params.clean
