/*
 * REQUIRED NOTICE: Copyright (c) 2020-2023, Regents of the University of California
 * All rights reserved. https://polyformproject.org/licenses/noncommercial/1.0.0
 * 
 * This software was developed by the Daniel Kim lab at the University of California, Santa Cruz.
 * Authors: Roman E. Reggiardo, Vikas Peddu, Alex D. Hill
 * 
 * The licensor grants you a copyright license for the software to do everything you might do with
 * the software that would otherwise infringe the licensor’s copyright in it for any permitted
 * purpose.
 * 
 * As far as the law allows, the software comes as is, without any warranty or condition, and the
 * licensor will not be liable to you for any damages arising out of these terms or the use or
 * nature of the software, under any kind of legal claim.
 */

if (params.get("clean")) cleanup = params.clean

process
{
    cache = true
    errorStrategy = 'finish'
    beforeScript = 'chmod 755 .'
}

if (params.get('container') && params.container=='conda')
{
    conda.enabled = true
    process.conda = '${projectDir}/bin/conda/create_env.yaml'
}

else if (params.get('container') && params.container=='docker')
{
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
    process.container = 'alexdhill/create:test'
}
if (params.get('exec') && params.exec=='slurm')
{
    process.executor = 'slurm'
    if (params.get('scratch')) process.scratch = params.scratch
    if (params.get('njobs')) executor.queueSize = params.njobs
    if (params.get("account") && params.account!='') executor.account = params.account
}
else if (params.get('exec') && params.exec=="local")
{
    if (params.get('threads') && params.threads>0)
    {
        executor.cpus = params.threads
    }
    if (params.get("memory") && params.memory>0)
    {
        executor.memory = params.memory
    }
}